
/**
 * HW 5.24.17
 **/

body {                                          
  font-style: arial;
  background-color: gray;
  font-style: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  /*960px*/
  }

h1 {
  font-style: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

h2 {
  font-style: arial; font-style: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

h3 {
  font-style: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

#main-panel {
    padding: 20px;
}

#left-panel{
  background-color: white;

}

#right-panel{
  background-color: white;

}

/*img {
  float:left;
}*/

.navbar-header {
    padding-left: 40px;
}

.navbar-brand {
  background-color: #4aaaa5;
}

/*.row {
    margin-left:  (@gutter / 20px);
    margin-right: (@gutter / 20px);
  }
*/

/*.main-section {
    margin: 20px;
  padding: 20px;
  border: 20px;
  border-color: gray;
}*/
/*
.right-section{ 

margin: 20px
padding: 20px;
}
*/
.container-page{
  margin-top: 20px;
  margin-right: 20px;
}

.panel-body {
   background-color: #4aaaa5;
}

.panel-footer {
  border-color: #4aaaa5;
  border-top: 10px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
}

.panel-body {
  background-color: #4aaaa5;
  height: 10px;
}
/* navbar navbar-default navbar-fixed-to
Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #4aaaa5;
}

@media only screen and (max-width: 640px) {
		}

  /* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }